body{
  text-align: center;
  color: #201f1f;
}

ul{
  display: flex;
  justify-content: space-around;
}

li{
  width:200px;
  height:200px;
  background: #E69E19;
  border-radius: 10%;
  margin: 30px auto;
  text-align: center;
  line-height: 200px;
  color: white;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 10px 0  #d79935;
  user-select: none;
}

li:hover{
  opacity:0.8;
}

li:active{
  box-shadow: 0 5px 0 #d79935;
  margin-top: 35px;
}

main > div{
  font-size: 24px;
}